.mypy_cache/
__pycache__/
*.egg-info/
build/
dist/

.coverage
.vscode/
.idea/
.hypothesis/

# Large data sets
tests/data/
tests/mocked/medium.txt
performance/observations.txt
performance/filtered.txt


# R
.Rproj.user
*.Rproj
.Rhistory
